<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title css-reference
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon" href="favicon.png")
    meta(name='description' content='CSS reference')
    meta(property='og:site_name' content='css-reference')
    meta(property='og:title' content='CSS reference')
    meta(property='og:description' content='css reference')
    meta(property='og:image' content='img/empty.png' )
    meta(property='og:image:type' content="image/png" )
    meta(property='og:image:alt' content='css-reference')
  body
    include selectores.html
    script(src="js/main.js")
